<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dangbinh.moneymanagement">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.dangbinh.moneymanagement.ui.LoginActivity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dangbinh.moneymanagement.ui.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.dangbinh.moneymanagement.ui.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dangbinh.moneymanagement.ui.LoginActivity" />
        </activity>
        <activity
            android:name="com.dangbinh.moneymanagement.ui.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_pass"
            android:parentActivityName="com.dangbinh.moneymanagement.ui.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.dangbinh.moneymanagement.ui.LoginActivity" />
        </activity>
        <activity
            android:name="com.dangbinh.moneymanagement.ui.TransactionsViewActivity"
            android:label="@string/title_activity_transcations_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.dangbinh.moneymanagement.ui.AddTransactionActivity"
            android:label="@string/title_add_transcations_view" />
        <activity
            android:name="com.dangbinh.moneymanagement.ui.category_selection.CategorySelectionMainActivity"
            android:label="Select Category"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.dangbinh.moneymanagement.ui.TaxEstimatorActivity"></activity>
    </application>

</manifest>